<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - TechMart</title>

    <link rel="stylesheet"
          href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet"
          href="~/css/site.css"
          asp-append-version="true" />
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-techmart shadow-sm">
        <div class="container-fluid">

            <a class="navbar-brand"
               asp-controller="Home"
               asp-action="Index">
                TechMart
            </a>

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse"
                 id="navbarContent">

                <ul class="navbar-nav me-auto">

                    <li class="nav-item">
                        <a class="nav-link"
                           asp-controller="Home"
                           asp-action="Index">
                            Dashboard
                        </a>
                    </li>

                    @if (User.Identity!.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="Profile"
                               asp-action="Index">
                                Profile
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="Auth"
                               asp-action="CreateAdmin">
                                Create Admin
                            </a>
                        </li>
                    }

                </ul>

                <ul class="navbar-nav">

                    @if (User.Identity!.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <span class="nav-link">
                                @User.Identity.Name
                            </span>
                        </li>

                        <li class="nav-item">
                            <form asp-controller="Auth"
                                  asp-action="Logout"
                                  method="post">

                                @Html.AntiForgeryToken()

                                <button type="submit"
                                        class="btn btn-warning btn-sm">
                                    Logout
                                </button>

                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="Auth"
                               asp-action="Login">
                                Login
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="Auth"
                               asp-action="Register">
                                Register
                            </a>
                        </li>
                    }

                </ul>

            </div>

        </div>
    </nav>

    <div class="container-fluid px-4 mt-4">

        <main role="main">

            @RenderBody()

        </main>

    </div>

    <footer class="border-top footer text-muted mt-5">
        <div class="container">
            &copy; 2026 - TechMart
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js"
            asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>