@model TechMart_E_Commerce_Management_System.ViewModels.RegisterVIewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form asp-action="Register" method="post"
enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    <div asp-validation-summary="All"
         class="text-danger">
    </div>

    <div class="mb-3">
        <label asp-for="Name"></label>

        <input asp-for="Name"
               class="form-control" />

        <span asp-validation-for="Name"
              class="text-danger">
        </span>
    </div>

    <div class="mb-3">
        <label asp-for="Email"></label>

        <input asp-for="Email"
               class="form-control" />

        <span asp-validation-for="Email"
              class="text-danger">
        </span>
    </div>

    <div class="mb-3">
        <label asp-for="Password"></label>

        <input asp-for="Password"
               type="password"
               class="form-control" />

        <span asp-validation-for="Password"
              class="text-danger">
        </span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword"></label>

        <input asp-for="ConfirmPassword"
               type="password"
               class="form-control" />

        <span asp-validation-for="ConfirmPassword"
              class="text-danger">
        </span>
    </div>
    <div class="mb-3">
        <label asp-for="ProfileImage"></label>

        <input asp-for="ProfileImage"
               class="form-control" />

        <span asp-validation-for="ProfileImage"
              class="text-danger">
        </span>
    </div>

    <button type="submit"
            class="btn btn-primary">
        Register
    </button>

</form>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}