@model TechMart_E_Commerce_Management_System.ViewModels.VerifyEmailViewModel

@{
    ViewData["Title"] = "Verify Email";
}

<h2>Email Verification</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<form asp-action="VerifyEmail" method="post">

    @Html.AntiForgeryToken()

    <div asp-validation-summary="All"
         class="text-danger">
    </div>

    @* <div class="mb-3">
        <label asp-for="Email"></label>

        <input asp-for="Email"
               class="form-control" />

        <span asp-validation-for="Email"
              class="text-danger">
        </span>
    </div> *@

    <div class="mb-3">
        <label asp-for="VerificationCode"></label>

        <input asp-for="VerificationCode"
               class="form-control" />

        <span asp-validation-for="VerificationCode"
              class="text-danger">
        </span>
    </div>

    <button type="submit"
            class="btn btn-success">
        Verify Email
    </button>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}